.mobile__menu {
  display: none;
}
@media (max-width: 640px) {
  .mobile__menu {
    display: none;
    height: calc(100vh - 72px);
    width: 100vw;
    position: fixed;
    top: 72px;
    left: 0;
    z-index: 9998;

    background-color: #0d1117;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .mobile__menu.active {
    display: flex;
    transform: translateX(0);
  }

  .links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 35px;
    padding-bottom: 72px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100svw;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
    a {
      font-family: "Poppins", sans-serif;
      font-size: larger;
    }
  }
}
