.mobile__menu {
  display: none;
}
@media (max-width: 640px) {
  .mobile__menu.active {
    display: flex;
    height: calc(100vh - 72px);
    width: 100vw;
    position: fixed;
    z-index: 9998;
    opacity: 1;
    animation: fadeIn 0.5s ease;
    margin: 0;
  }
  .links {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 35px;
    padding-bottom: 72px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100svw;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease;
    a {
      font-size: larger;
    }
  }
}
