<form
  class="flex flex-col gap-4"
  [formGroup]="cardForm"
  (ngSubmit)="onSubmitForm()"
  id="cardForm"
>
  <h3 class="pt-2 mt-2 font-poppins text-xl font-bold text-white">
    Payment Details:
  </h3>

  @if (personalInfoStep) {
    <div>
      <label for="countries" class="purchaseInfoLabel">Country or Region</label>
      <select
        name="Country"
        id="countries"
        class="purchaseInfoInput"
        formControlName="countries"
      >
        @for (country of countries; track $index) {
          <option [value]="country.name.common" class="text-black">
            {{ country.name.common }}
          </option>
        }
      </select>
    </div>

    <div>
      <label class="purchaseInfoLabel" for="firstName">First name</label>
      <input
        id="firstName"
        class="purchaseInfoInput"
        formControlName="firstName"
        type="text"
        (change)="validateAllPurchaseInfoInputs()"
      />
    </div>

    <div>
      <label class="purchaseInfoLabel" for="lastName">Last name</label>
      <input
        id="lastName"
        class="purchaseInfoInput"
        formControlName="lastName"
        type="text"
        (change)="validateAllPurchaseInfoInputs()"
      />
    </div>

    <div>
      <label class="purchaseInfoLabel" for="adress">Address</label>
      <input
        id="adress"
        class="purchaseInfoInput"
        formControlName="adress"
        type="text"
        (change)="validateAllPurchaseInfoInputs()"
      />
    </div>

    <div>
      <label class="purchaseInfoLabel" for="city">City</label>
      <input
        id="city"
        class="purchaseInfoInput"
        formControlName="city"
        type="text"
        (change)="validateAllPurchaseInfoInputs()"
      />
    </div>

    <div>
      <label class="purchaseInfoLabel" for="postalCodeInput">Postal Code</label>
      <input
        class="purchaseInfoInput"
        id="postalCodeInput"
        formControlName="postalCode"
        type="text"
        appFormatPostalCode
        (change)="isPostalCodeValid()"
      />
      @if (
        cardForm.get("postalCode")?.invalid && cardForm.get("postalCode")?.dirty
      ) {
        <span class="error-message"
          >Postal code must include at least 4 characters.</span
        >
      }
    </div>

    <div class="flex flex-col gap-3 mt-4">
      <button
        [ngClass]="{ disabled: !arePersonalInfoValid() }"
        class="buy-button w-full h-12 rounded-lg text-white text-lg font-semibold"
      >
        Proceed to card info
      </button>
      <a
        class="cancel-button w-full h-12 rounded-lg text-lg flex items-center justify-center cursor-pointer"
        (click)="reloadPage()"
        >Return</a
      >
    </div>
  }
  @if (cardInfoStep) {
    <div>
      <label class="purchaseInfoLabel" for="cardNumber">Card Number:</label>
      <input
        id="cardNumber"
        class="purchaseInfoInput"
        formControlName="cardNumber"
        appCardGroupFormat
        type="text"
        (change)="validateAllPurchaseInfoInputs()"
      />
      @if (
        cardForm.get("cardNumber")?.invalid && cardForm.get("cardNumber")?.dirty
      ) {
        <span class="error-message"
          >Card number must contain 16 characters.</span
        >
      }
    </div>

    <div>
      <label class="purchaseInfoLabel" for="expireDate">Expire Date:</label>
      <input
        id="expireDate"
        class="purchaseInfoInput"
        formControlName="expireDate"
        type="date"
        (change)="validateAllPurchaseInfoInputs()"
      />
    </div>

    <div>
      <label class="purchaseInfoLabel" for="cvv">CVV Number:</label>
      <input
        id="cvv"
        class="purchaseInfoInput"
        formControlName="cvv"
        type="text"
        required=""
        pattern="\d{3}"
        (change)="validateAllPurchaseInfoInputs()"
      />
      @if (cardForm.get("cvv")?.invalid && cardForm.get("cvv")?.dirty) {
        <span class="error-message">CVV must contain 3 characters.</span>
      }
    </div>

    <div class="flex flex-col gap-3 mt-4">
      <button
        [ngClass]="{ disabled: !cardForm.valid }"
        class="buy-button w-full h-12 rounded-lg text-white text-lg font-semibold"
        type="submit"
      >
        Confirm Payment
      </button>
      <button
        type="button"
        class="cancel-button w-full h-12 rounded-lg text-lg flex items-center justify-center"
        (click)="returnToLastStep()"
      >
        Return
      </button>
    </div>
  }
</form>
