<nav class="flex w-full py-10 justify-between gap-8 text-xl">
  <div class="flex gap-12 shrink w-full">
    <a
      [routerLink]="['']"
      routerLinkActive="router-link-active"
      class="hover:text-white text-gray-400"
      >Home</a
    >
    <a
      [routerLink]="['/browse']"
      routerLinkActive="router-link-active"
      class="hover:text-white text-gray-400"
      >Browse</a
    >
  </div>
  <input
    type="text"
    placeholder="Search..."
    (input)="onInputChange($event)"
    class="bg-zinc-900 rounded-xl pl-4 h-8 text-white text-sm border-0 justify-end"
  />
  <div class="justify-end flex gap-12">
    <a class="hover:text-white text-gray-400">Wishlist</a>
    {{ testValue }}
  </div>
</nav>
