@media screen and (min-width: 768px) {
  #game {
    min-width: 650px;
    max-width: 1440px;
    width: 100%;
  }
}
#game {
  img {
    max-width: 100%;
  }
}

.buy-button {
  background-color: #2563eb;
  transition: 150ms ease-in-out;
  &:hover {
    background-color: #3b82f6;
  }
}

.wishlist-button {
  transition: 150ms ease-in-out;
  color: white;
}
