<div class="flex flex-col md:flex-row gap-10 justify-center h-svh mt-56">
  <form [formGroup]="form" class="flex flex-col gap-2 w-96">
    <strong class="text-xl">Payment Info:</strong>
    <label class="text-lg text-zinc-200" for="payment"
      >Choose the payment method:</label
    >
    <select
      name="paymentMethod"
      id="paymentMethod"
      class="text-black h-8 rounded"
      formControlName="method"
      (change)="chosedPaymentMethod(form.get('method')?.value)"
    >
      <option value="credit">Credit Card</option>
      <option value="debit">Debit Card</option>
      <option value="pix">Pix</option>
      <option value="bankSlip">Bank Slip</option>
    </select>

    @if (paymentMethodChosen == "credit") {
      <pay-credit-form></pay-credit-form>
    }
    <div class="flex flex-col">
      <button
        class="bg-blue-500 text-white text-lg rounded my-2 py-1"
        type="submit"
      >
        Confirm Payment
      </button>
      <a
        class="bg-zinc-600 text-white text-lg rounded my-2 py-1 text-center"
        href="/"
        >Cancel</a
      >
    </div>
  </form>
  <div class="flex flex-col gap-5">
    <div class="flex flex-col gap-2">
      <strong class="text-xl pb-1">Purchase Details:</strong
      ><span class="text-zinc-200 py-2">You are buying:</span>
      <img
        class="h-52 rounded mb-4"
        src="{{ namedGame?.horizontalsrc }}"
        alt=""
      />

      <strong class="gameToBuy text-white">{{ namedGame?.name }}</strong>
      <span class="text-zinc-300">{{ namedGame?.publisher }}</span>
    </div>
    <div class="flex flex-col py-2 gap-1">
      <strong class="text-lg text-zinc-300">Total:</strong>
      <span class="text-2xl border-t py-1 border-t-slate-300"
        >${{ namedGame?.price }}</span
      >
    </div>
  </div>
</div>
<input type="text" placeholder="123" />
