<li class="flex flex-col shadow-xl gap-1 w-48 gamecard">
  <div class="relative like-button image">
    <button
      (click)="likeGame(game.id)"
      class="w-6 h-6 absolute right-2 top-2 button"
      [ngClass]="{ likedGame: game.liked }"
    >
      <img
        class="w-full h-full"
        [src]="
          game.liked
            ? '../../assets/favoriteIcon-full1.png'
            : '../../assets/favoriteIcon-full0.png'
        "
      />
    </button>
    <a class="items-center flex flex-col" [routerLink]="['/game', game.name]"
      ><img
        class="w-48 h-64 object-cover object-top rounded"
        src="{{ game.verticalsrc }}"
        alt="image"
      />
    </a>
  </div>
  <span class="text-zinc-400 text-sm info">{{ game.publisher }}</span>
  <span class="info">{{ game.name }}</span>
  <span class="info price">${{ game.price }}</span>
</li>
