<li class="flex flex-col shadow-xl gamecard">
  <div class="relative like-button image">
    <button
      (click)="likeGame(game.id)"
      class="w-6 h-6 absolute right-2 top-2 button"
      [ngClass]="{ likedGame: game.liked }"
    >
      <img
        class="w-full h-full"
        [src]="
          game.liked
            ? '../../assets/favoriteIcon-full1.png'
            : '../../assets/favoriteIcon-full0.png'
        "
      />
    </button>
    <a class="items-center flex flex-col" [routerLink]="['/game', game.name]"
      ><img
        class="object-cover object-top rounded cover"
        src="{{ game.verticalsrc }}"
        alt="image"
      />
    </a>
  </div>
  <div class="flex flex-col gap-1 pt-1 pb-2">
    <span class="text-zinc-400 text-xs sm:text-sm">{{ game.publisher }}</span>
    <span>{{ game.name }}</span>
    <span class="price">${{ game.price }}</span>
  </div>
</li>
