<div class="flex flex-col gap-1 w-96">
  <label class="purchaseInfoLabel" for="">CPF:</label>
  <input
    class="purchaseInfoInput"
    formControlName="cpf"
    type="text"
    title="Your CPF"
  />
  <label class="purchaseInfoLabel" for="">Card Number:</label>
  <input class="purchaseInfoInput" formControlName="cardNumber" type="text" />
  <label class="purchaseInfoLabel" for="">Expire Date:</label>
  <input class="purchaseInfoInput" formControlName="expireDate" type="text" />
  <label for="">CVV Number:</label>
  <input class="purchaseInfoInput" formControlName="cvv" type="text" />
</div>
