<div class="flex">
  <div>
    <img
      class="rounded h-full object-cover"
      src="../../assets/starwarsjedifallenorder.jpg"
      alt="image"
    />
  </div>
  <div>
    <a class="flex p-5 items-center gap-2" href="">
      <img class="w-40 rounded" src="../../assets/godofwar.jpeg" alt="image" />
      <span class="w-72">Star Wars: Jedi Fallen Order</span>
    </a>
    <a class="flex p-5 items-center gap-2" href="">
      <img
        class="w-40 rounded"
        src="../../assets/calistoprotocol.jpeg"
        alt="image"
      />
      <span class="w-72">Calisto Protocol</span>
    </a>
    <a class="flex p-5 items-center gap-2" href="">
      <img class="w-40 rounded" src="../../assets/control.jpeg" alt="image" />
      <span class="w-72">Control</span>
    </a>
    <a class="flex p-5 items-center gap-2" href="">
      <img class="w-40 rounded" src="../../assets/detroit.jpeg" alt="image" />
      <span class="w-72">Detroit: Become Human</span>
    </a>
  </div>
</div>
