<div
  class="gap-5 carousel w-full h-full mb-2 justify-center px-5 md:px-0 pt-3 md:pt-0"
  id="carousel"
>
  <a
    class="picture highLightedGame"
    [routerLink]="['/game', highlightedGame?.name]"
  >
    <figure class="rounded h-full w-full">
      @if (highlightedGame) {
        <div class="h-full w-full">
          <img
            class="rounded-xl object-cover"
            ngSrc="{{ highlightedGame.horizontalsrc }}"
            fill
            priority
            alt="carousel game image"
          />
        </div>
      }

      <figcaption class="caption font-bold">
        {{ highlightedGame?.name }} <br />
        @if (highlightedGame?.price) {
          US$ {{ highlightedGame?.price }}
        }
      </figcaption>
    </figure>
  </a>

  <div class="flex flex-col gap-3 text-lg roulette">
    @for (game of games; track $index) {
      <div
        class="flex items-center gap-2 h-1/5 rounded"
        href=""
        (click)="selectGame(game)"
      >
        <img
          class="rounded-xl object-cover cursor-pointer"
          [ngClass]="{ focused: game.name == highlightedGame?.name }"
          src="{{ game.horizontalsrc }}"
          alt="image"
        />
      </div>
    }
  </div>
</div>
