<div class="lg:flex gap-5 carousel w-full">
  <div>
    <img
      class="rounded h-full object-cover"
      src="../../assets/fallenorderhorizontal.jpg"
      alt="image"
    />
  </div>
  <div class="h-full flex flex-col gap-5">
    <a class="flex items-center gap-2 h-1/4" href="">
      <img
        class="w-40 h-full rounded object-cover"
        src="../../assets/godofwar.jpeg"
        alt="image"
      />
      <span class="w-72">God of War</span>
    </a>
    <a class="flex items-center gap-2 h-1/4" href="">
      <img
        class="w-40 h-full rounded object-cover"
        src="../../assets/calistoprotocol.jpeg"
        alt="image"
      />
      <span class="w-72">Calisto Protocol</span>
    </a>
    <a class="flex items-center gap-2 h-1/4" href="">
      <img
        class="w-40 h-full rounded object-cover"
        src="../../assets/control.jpeg"
        alt="image"
      />
      <span class="w-72">Control</span>
    </a>
    <a class="flex items-center gap-2 h-1/4" href="">
      <img
        class="w-40 h-full rounded object-cover"
        src="../../assets/detroit.jpeg"
        alt="image"
      />
      <span class="w-72">Detroit: Become Human</span>
    </a>
  </div>
</div>
