.category-list {
  overflow-x: scroll;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(160, 160, 160) rgb(39 39 42);
  @media (min-width: 640px) {
    overflow-x: hidden;
  }
}

.gamesByCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  .category {
    min-width: 100px;
    max-width: 1440px;
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;

    @media screen and (min-width: 768px) {
      width: 100%;
    }

    .scroll-button {
      display: none;

      @media screen and (min-width: 640px) {
        display: block;
      }
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      transition: background-color 0.3s ease;

      &.left {
        left: 0;
        border-radius: 0 10px 10px 0;
        padding: 10px 10px 10px 7px;
      }
      &.right {
        right: 0;
        border-radius: 10px 0 0 10px;
        padding: 10px 7px 10px 10px;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
