<carousel></carousel>
<div class="py-4">
  <h3 class="text-xl">RPG Games</h3>
  <ul class="flex gap-4">
    @for (game of listedGames; track $index) {
      <li class="w-40">
        <a class="p-5 items-center" href="">
          <picture class="w-40 h-30 over overflow-hidden">
            <img
              class="w-40 h-30 overflow-hidden"
              src="{{ game.src }}"
              alt="image"
            />
          </picture>

          <span class="w-72">{{ game.name }}</span>
        </a>
      </li>
    }
  </ul>
</div>

<div>
  <h3 class="text-xl">20% OFF</h3>
  <ul class="flex gap-4">
    @for (game of listedGames; track $index) {
      <li class="w-40">
        <a class="p-5 items-center" href="">
          <img class="w-40" src="{{ game.src }}" alt="image" />
          <span class="w-72">{{ game.name }}</span>
        </a>
      </li>
    }
  </ul>
</div>
