.category-list {
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(160, 160, 160) rgb(39 39 42);

  @media (min-width: 640px) {
    overflow-x: hidden;
  }
}

.category-list li {
  transition: transform 0.3s ease-in-out;
  position: relative;
}
.category-list li:hover {
  transform: scale(1.05);
  z-index: 10;
}

.gamesByCategory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  h3 {
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* Um brilho */
    text-shadow: 0 0 8px rgba(0, 191, 255, 0.3);
    border-bottom: 2px solid #005f73;
    padding-bottom: 0.75rem !important;
  }

  .category {
    min-width: 100px;
    max-width: 1440px;
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;

    @media screen and (min-width: 768px) {
      width: 100%;
    }

    .scroll-button {
      display: none;

      @media screen and (min-width: 640px) {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
      }

      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      z-index: 11;
      transition:
        opacity 0.3s ease,
        background-color 0.3s ease;
      height: 60px;
      width: 40px;

      &.left {
        left: 0;
        border-radius: 0 10px 10px 0;
      }
      &.right {
        right: 0;
        border-radius: 10px 0 0 10px;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 1;
      }
    }

    @media screen and (min-width: 640px) {
      &:hover .scroll-button {
        opacity: 1;
      }
    }
  }
}
