<div class="">
  <h3 class="text-xl py-4 text-zinc-200">All Games</h3>
  <div class="flex w-full">
    <ul class="flex flex-wrap gap-3 w-full">
      @if (gameNotFound) {
        <span
          >We Still dont have the title <strong>"{{ gameSearched }}"</strong>
        </span>
      }
      @for (game of listedGames; track $index) {
        <li class="flex flex-col relative w-48" (mouseover)="showLikeButton()">
          <div class="relative">
            @if (shouldShowLikeButton) {
              <button
                (click)="likeGame($index)"
                class="w-6 h-6 absolute right-2 top-2"
              >
                <img
                  class="w-full h-full"
                  [src]="
                    game.liked
                      ? '../../assets/favoriteIcon-full1.png'
                      : '../../assets/favoriteIcon-full0.png'
                  "
                />
              </button>
            }
            <a [routerLink]="['/game', game.name]"
              ><img
                class="w-full h-64 object-cover object-top rounded"
                src="{{ game.verticalsrc }}"
                alt="image"
              />
            </a>
          </div>
          <span class="w-full text-zinc-300 text-sm">{{ game.publisher }}</span>
          <span class="w-full">{{ game.name }}</span>
          <span class="w-full">${{ game.price }}</span>
        </li>
      }
    </ul>
  </div>
</div>
