<div class="">
  <h3 class="text-xl py-4">All Games</h3>
  <div class="flex h-72 w-full">
    <ul class="flex flex-wrap gap-4 w-full">
      @for (game of listedGames; track $index) {
        <li class="w-40">
          <a class="items-center flex flex-col" href="">
            <img
              class="w-40 h-56 object-cover rounded"
              src="{{ game.verticalsrc }}"
              alt="image"
            />
            <span class="w-40 text-lg">{{ game.name }}</span>
            <span class="w-40">$59,99</span>
          </a>
        </li>
      }
    </ul>
  </div>
</div>
